<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isUpdating">
      <div class="comment-edit-container">
        <mat-form-field>
          <input [(ngModel)]="comment.body" matInput placeholder="">
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="editComment(comment.body)">
          <mat-icon aria-label="Update">done</mat-icon>
        </button>
      </div>
    </div>
    <p *ngIf="!isUpdating">{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment(true)" [matTooltip]="getLikedUsers()">
      <mat-icon matBadge="{{getReactionsCount(true)}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getReactionsCount(true) === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likeComment(false)" [matTooltip]="getDislikedUsers()">
      <mat-icon matBadge="{{getReactionsCount(false)}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getReactionsCount(false) === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <div *ngIf="checkAuthor()">
      <button mat-icon-button color="primary" (click)="toggleUpdating()">
        <mat-icon aria-label="Edit">mode_edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteComment()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>