<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <div *ngIf="isUpdating">
      <div class="post-edit-container">
        <mat-form-field>
          <input [(ngModel)]="post.body" matInput placeholder="">
        </mat-form-field>
        <input hidden #file accept="image/*" type="file" (change)="changeImage($event.target)">
        <button mat-icon-button color="accent" (click)="file.click()">
          <mat-icon aria-label="Choose an image">add_a_photo</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Remove image" (click)="removeImage()">
          <mat-icon aria-label="Remove image">clear</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="editPost(post.body)">
          <mat-icon aria-label="Edit">done</mat-icon>
        </button>
      </div>
    </div>
    <p *ngIf="!isUpdating">{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost(true)" [matTooltip]="getLikedUsers()">
      <mat-icon matBadge="{{getReactionsCount(true)}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getReactionsCount(true) === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost(false)" [matTooltip]="getDislikedUsers()">
      <mat-icon matBadge="{{getReactionsCount(false)}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getReactionsCount(false) === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
    <div *ngIf="checkAuthor()">
      <button mat-icon-button color="primary" (click)="toggleUpdating()">
        <mat-icon aria-label="Edit">mode_edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deletePost()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [currentUser]="currentUser" [comment]="_comment"></app-comment>
  </div>
</mat-card>